<form (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="producto" class="form-label">Producto</label>
    <input
      type="text"
      class="form-control"
      id="producto"
      [(ngModel)]="product.nombre"
      name="nombre"
      required
    />
  </div>
  <div class="mb-3">
    <label for="precio" class="form-label">Precio</label>
    <input
      type="number"
      class="form-control"
      id="precio"
      [(ngModel)]="product.precio"
      name="precio"
      required
      min="0"
      max="10000"
    />
    <!-- Mensaje de error para precio -->
    <div
      *ngIf="product.precio < 0 || product.precio > 10000"
      class="text-danger"
    >
      El precio debe ser un número entre 0 y 10,000.
    </div>
  </div>
  <div class="mb-3">
    <label for="imagen" class="form-label">URL de la imagen</label>
    <input
      type="text"
      class="form-control"
      id="imagen"
      [(ngModel)]="product.image"
      name="image"
      required
    />
  </div>

  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="product.precio < 0 || product.precio > 10000"
  >
    {{ isEditMode ? "Actualizar" : "Crear" }}
  </button>
</form>
