<h1>Listado de productos</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Producto</th>
      <th scope="col">Precio</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of productsList">
      <th scope="row">{{ product.id }}</th>
      <td>{{ product.nombre }}</td>
      <td>{{ product.precio | currency : "USD" : "symbol" : "1.2-2" }}</td>
      <button
        type="button"
        class="btn btn-outline-primary"
        [routerLink]="['/products', product.id]"
      >
        Ver
      </button>
      <button
        type="button"
        class="btn btn-outline-primary"
        [routerLink]="['/edit-product', product.id]"
      >
        Editar
      </button>

      <button
        type="button"
        class="btn btn-outline-danger"
        (click)="onDelete(product.id)"
      >
        Eliminar
      </button>
    </tr>
  </tbody>
</table>
<button
  type="button"
  class="btn btn-primary"
  [routerLink]="['/create-product']"
>
  crear producto
</button>
