<div class="grid-container">
  <div class="grid-x">
    <div class="medium-12 cell">
      <div class="callout text-center">
        <h1>Bienvenido a crud-angular-spring-boot</h1>
        <p>
          Esta aplicacion esta realizada con Angular 16 para el frontend y con
          java spring boot para el backend. espero la disfrutes!
        </p>

        <p>
          <a target="_blank" href="https://github.com/Dota43ver/java-railway "
            >codigo del backend</a
          >
        </p>
        <p>
          <a target="_blank" href="https://github.com/Dota43ver/landing-angular"
            >codigo del frontend</a
          >
        </p>
        <button class="btn btn-primary" routerLink="/products">
          Ir a productos
        </button>
      </div>
    </div>
  </div>
</div>
